html,body{
    margin:0;
}
.full-video-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full-video-container video{
    z-index: -1;
    position: absolute;
    top:50px;
    left: 50px;

    transform: translate(-50%,-50%);
}
.video-content{
    font-size: 30px;
    background-color: wheat;
    padding: 30px;
    position: relative;
    margin: auto;

}